<!DOCTYPE html>
<html class="wide wow-animation scrollTo" lang="en">

<head>
  <!-- Site Title-->
  <title>Home 1</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="keywords" content="intense web design multipurpose template">
  <meta name="date" content="Dec 26">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <!-- Stylesheets-->
  <link rel="stylesheet" type="text/css"
    href="//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,700%7CMerriweather:400,300,300italic,400italic,700,700italic">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="preloader">
    <div class="preloader-body">
      <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
      </div>
      <p>Loading...</p>
    </div>
  </div>
  <!-- Page-->
  <div class="page text-center">
    <!-- Page Header-->
    <header class="page-head header-panel-absolute">
      <!-- RD Navbar Transparent-->
      <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-default" data-auto-height="false" data-lg-auto-height="true"
          data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed"
          data-lg-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static"
          data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static"
          data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static"
          data-lg-stick-up-offset="210px" data-xl-stick-up-offset="85px" data-xxl-stick-up-offset="85px"
          data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
          <div class="rd-navbar-inner">
            <!-- RD Navbar Panel-->

            <div class="rd-navbar-menu-wrap clearfix">
              <!--Navbar Brand-->
              <div class="rd-navbar-brand"><a class="d-inline-block" href="asosiy.html">
                  <div class="unit align-items-sm-center unit-xl unit-spacing-custom">
                    <div class="unit-left"><img width='170' height='172' src='images/logo.jpg' alt='' />
                    </div>
                    <div class="unit-body">
                      <div class="rd-navbar-brand-title">BoburFarm</div>
                      <div class="rd-navbar-brand-slogan">Фермерское хозяйство</div>
                    </div>
                  </div>
                </a></div>
              <div class="rd-navbar-nav-wrap">
                <div class="rd-navbar-mobile-scroll">
                  <div class="rd-navbar-mobile-header-wrap">
                    <!--Navbar Brand Mobile-->
                    <div class="rd-navbar-mobile-brand"><a href="asosiy.html"><img width='136' height='138'
                          src='images/logo-170x172.png' alt='' /></a></div>
                  </div>
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">

                    <li><a href="asosiy.html">Главное</a>
                    </li>
                    <li><a href="sotrudnik.html">Сотрудники</a>
                    </li>
                    <li><a href="agrofond.html">АгроФонд </a>
                    </li>
                  </ul>
                  <!--RD Navbar Mobile Search-->
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- Latest news-->

    <section class="section section-xl bg-catskill">
      <div class="container">
        <h2 class="fw-bold">Тракторы</h2>
        <hr class="divider bg-madison">
        <div class="row row-30 offset-top-60 text-md-start justify-content-sm-center">
          <div class="col-md-6 col-lg-4 traktor">
            <article class="post-news post-news-wide"><a href="https://youtu.be/GhzETvIj3Zw?si=8MQ_MLmcirGVmvT8"><img class="img-responsive"
                  src="images/трактора мтз 80.webp" width="700" height="455" alt=""></a>
              <div class="post-news-body">
                <h6><a href="https://youtu.be/GhzETvIj3Zw?si=8MQ_MLmcirGVmvT8">трактора мтз 80</a></h6>
                <div class="offset-top-20 traktor1" >
                  <p> МТЗ-80 — базовая модель семейства тракторов «Беларусь» Минского тракторного завода.
                    Одновременно с началом выпуска МТЗ-80, запущено производство и его модификации с двумя ведущими
                    мостами — трактора МТЗ-82.
                    Трактор построен по традиционной для МТЗ компоновке: полурамная конструкция — остов с узлами силовой
                    передачи, переднее расположение двигателя,
                    задние ведущие колёса увеличенного диаметра, передние управляемые колёса меньшего диаметра.
                    Трактор МТЗ-80 имеет привод только на задние колёса, а трактор МТЗ-82 — полный привод.</p>
                </div>
                <!-------------------------------Рабочий------------------------------------>
                <div class="post-news-meta offset-top-20">
                  <span class="fa fa-check"></span>
                  <span class="align-middle inset-left-10 fst-italic text-black">
                    Рабочий
                  </span>
                </div>
                <!-------------------------------Рабочий------------------------------------>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-lg-4 traktor">
            <article class="post-news post-news-wide"><a href="https://youtu.be/upJiTGMR5iU?si=Qhri76WB-TnTcHaK"><img class="img-responsive"
                  src="images/Бульдозера Komatsu D65P-12 болотоход.webp" width="700" height="455" alt=""></a>
              <div class="post-news-body">
                <h6><a href="https://youtu.be/upJiTGMR5iU?si=Qhri76WB-TnTcHaK">Бульдозера Komatsu D65P-12 болотоход</a></h6>
                <div class="offset-top-20  traktor1">
                  <p>Бульдозер Komatsu D65P-12 (болотоход) – спецтехника с мощным двигателем (140 / 190 кВт / л.с.),
                    востребованная в разных сферах (от дорожного ремонта до расчистки территорий под строительство).
                    Но покупать ее при условии, что эксплуатация будет носить нерегулярный характер, невыгодно.
                    Целесообразнее оформить аренду, чтобы избежать лишних трат на содержание такой техники.
                    В таком случае поддержанием ее работоспособности занимается наша компания.</p>
                </div>
                <!-------------------------------Рабочий------------------------------------>
                <div class="post-news-meta offset-top-20">
                  <span class="fa fa-check"></span>
                  <span class="align-middle inset-left-10 fst-italic text-black">
                    Рабочий
                  </span>
                </div>
                <!-------------------------------Рабочий------------------------------------>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-lg-4 traktor">
            <article class="post-news post-news-wide"><a href="https://youtu.be/BjqsdHg5mng?si=G_PmpZd3O6M7VU22"><img class="img-responsive"
                  src="images/Тракторов XCMG.webp" width="700" height="455" alt=""></a>
              <div class="post-news-body">
                <h6><a href="https://youtu.be/BjqsdHg5mng?si=G_PmpZd3O6M7VU22">Тракторов XCMG</a></h6>
                <div class="offset-top-20  traktor1">
                <p>XCMG имеет собственные центры исследований, разработок и производственные базы в более чем 10
                  странах, включая Германию, США,
                  Бразилию и Индию. Бренд приобрел три европейские компании, включая Schwing.
                  Производственная база XCMG в Бразилии стала образцом китайско-бразильского экономического
                  сотрудничества.
                  В настоящее время XCMG Brazilian Bank первый зарубежный банк обрабатывающей промышленности Китая.</p>
              </div>
              <!-------------------------------Рабочий------------------------------------>
              <div class="post-news-meta offset-top-20">
                <span class="fa fa-check"></span>
                <span class="align-middle inset-left-10 fst-italic text-black">
                  Рабочий
                </span>
              </div>
              <!-------------------------------Рабочий------------------------------------>

            </article>
          </div>
          <div class="col-md-6 col-lg-4 traktor">
            <article class="post-news post-news-wide"><a href="https://youtu.be/xnIf-wlEpRY?si=PHAn45u9QPvdaSip"><img class="img-responsive"
                  src="images/Тракторы Мтз 82.webp" width="700" height="455" alt=""></a>
              <div class="post-news-body">
                <h6><a href="https://youtu.be/xnIf-wlEpRY?si=PHAn45u9QPvdaSip">Тракторы Мтз 82</a></h6>
                <div class="offset-top-20  traktor1">
                  <p>Модель МТЗ-82 на самом деле объединяет в себе два типа тракторов – МТЗ-82 и МТЗ-82Л. Конструкция у
                    них в основном одинаковая,
                    а отличия заключаются в некоторых особенностях. К примеру, МТЗ-82 оснащен электрическим стартером, а
                    в модификации 82Л запуск осуществлялся с помощью бензинового пускового двигателя.
                    Существенное отличие – в конструкции переднего моста: 80-я модель оснащалась обычной балкой с
                    управляемыми колесами,
                    а 82-я могла похвастаться ведущим передним мостом, на который передавался крутящий момент от
                    трансмиссии через раздаточную коробку.</p>
                </div>
                <!-------------------------------Нерабочий------------------------------------>
                <div class="post-news-meta offset-top-20">
                  <span class="fa fa-times"></span>
                  <span class="align-middle inset-left-10 fst-italic text-black">
                    Нерабочий
                  </span>
                </div>
                <!-------------------------------Нерабочий------------------------------------>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-lg-4 traktor">
            <article class="post-news post-news-wide"><a href="https://youtu.be/ZZ2csWUm184?si=EUeiTO_6jn_iNJ6S"><img class="img-responsive"
                  src="images/Американские трактор.webp" width="700" style="height: 300px;" alt=""></a>
              <div class="post-news-body">
                <h6><a href="https://youtu.be/ZZ2csWUm184?si=EUeiTO_6jn_iNJ6S">Американские трактор</a></h6>
                <div class="offset-top-20  traktor1">
                  <p>Тяжёлые паровые тракторы уже достаточно давно использовались для пахоты в больших зерновых
                    хозяйствах прерий,
                    но для мелких ферм остальной страны они были слишком велики и дороги. В начале 1910-х годов в
                    Северной Америке и Европе существовал спрос на небольшие дешёвые тракторы, в которые кустарным
                    способом переделывали Форд Т.
                    Мысль о тракторе на основе автомобиля, с использованием автозапчастей и автомобильных технологий
                    производства уже несколько перезрела. В августе 1915 года Форд показал на сельскохозяйственной
                    выставке во
                    Фримонте (Небраска) модель B трактор с 16-сильным двухцилиндровым горизонтально-оппозитным
                    двигателем, спиралезубой трансмиссией и тремя колёсами: два передних были ведущими, а заднее —
                    управляющим.
                    Модель B в серию не пошла и осталась прототипом, но стала достаточно известна, чтобы мир узнал: Форд
                    занимается тракторами.</p>
                </div>
                <!-------------------------------Рабочий------------------------------------>
                <div class="post-news-meta offset-top-20">
                  <span class="fa fa-check"></span>
                  <span class="align-middle inset-left-10 fst-italic text-black">
                    Рабочий
                  </span>
                </div>
                <!-------------------------------Рабочий------------------------------------>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    <!-- Corporate footer-->
    <footer class="page-footer">
      <div class="hr bg-gray-light"></div>
      <div class="container section-xs block-after-divider">
        <div class="row row-50 justify-content-xl-between justify-content-sm-center">
          <div class="col-lg-5 col-xl-5">
            <!--Footer brand--><a class="d-inline-block" href="asosiy.html"><img width='170' height='172'
                src='images/logo.jpg' alt='' />
              <div>
                <h6 class="barnd-name fw-bold offset-top-25">BoburFarm</h6>
              </div>
              <div>
                <p class="brand-slogan text-gray fst-italic font-accent">фермерское хозяйства</p>
              </div>
            </a>
          </div>
          <div class="col-sm-10 col-lg-7 col-xl-7 text-xl-start">
            <h6 class="fw-bold">Contact us </h6>
            <div class="text-subline"></div>
            <div class="offset-top-30">
              <ul class="list-unstyled contact-info list">
                <li>
                  <div class="unit flex-row align-items-center unit-spacing-xs">
                    <div class="unit-left"><span class="icon mdi mdi-phone align-middle icon-xs text-madison"></span>
                    </div>
                    <div class="unit-body"><a class="text-dark" href="tel:#">+998 90-433-87-27,</a> <a
                        class="d-block d-lg-inline-block text-dark" href="tel:#">+998 33-433-87-27</a>
                    </div>
                  </div>
                </li>
                <li class="offset-top-15">
                  <div class="unit flex-row align-items-center unit-spacing-xs">
                    <div class="unit-left"><span
                        class="icon mdi mdi-map-marker align-middle icon-xs text-madison"></span></div>
                    <div class="unit-body text-start"><a class="text-dark" href="#">2130 Шаватской пасёлок Бойрачи, CA
                        94117-1080 UZB</a></div>
                  </div>
                </li>
                <li class="offset-top-15">
                  <div class="unit flex-row align-items-center unit-spacing-xs">
                    <div class="unit-left"><span
                        class="icon mdi mdi-email-open align-middle icon-xs text-madison"></span></div>
                    <div class="unit-body"><a href="mailto:#">Boburjonboboxanov</a></div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="offset-top-15 text-start">
              <ul class="list-inline list-inline-xs list-inline-madison">
                <li><a class="icon icon-xxs fa fa-facebook icon-circle icon-gray-light-filled" href="#"></a></li>
                <li><a class="icon icon-xxs fa fa-twitter icon-circle icon-gray-light-filled" href="#"></a></li>
                <li><a class="icon icon-xxs fa fa-google icon-circle icon-gray-light-filled" href="#"></a></li>
                <li><a class="icon icon-xxs fa fa-instagram icon-circle icon-gray-light-filled" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-madison context-dark">
        <div class="container text-lg-start section-5">
          <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><span>All
              Rights Reserved</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
        </div>
      </div>
    </footer>
  </div>
  <!-- Global Mailform Output-->
  <div class="snackbars" id="form-output-global"></div>
  <!-- Java script-->
  <script src="js/core.min.js"></script>
  <script src="js/script.js"></script>
</body>

</html>