<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Поздравляем!!! ваше объявление успешно добавлено</h1>
    </div>
</body>
</html>
